<a href="https://colab.research.google.com/github/Portgas-d-Isabelly/2-tri-agrinho/blob/main/Projeto.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [5]:
print("I competição de programação dá Start")
ano = "II"
print(f"{ano} competição de programação da Start")
## Aula 1

I competição de programação dá Start
II competição de programação da Start

In [6]:
## Aula 1
livro_ficcao = 8
livro_n_ficcao = 10
livro_infantil = 6
pontos_rodrigo = livro_ficcao + livro_n_ficcao + livro_infantil
print(f"Os pontos totais do Rodrigo são {pontos_rodrigo}")

Os pontos totais do Rodrigo são 24

In [12]:
total_de_figurinhas = int(input("Digite o total de figurinhas: "))
numero_de_amigos = int(input("Digite o número de amigos: "))
figurinhas_amigo = total_de_figurinhas // (numero_de_amigos + 2)
figurinhas_marco = 2 * figurinhas_amigo
print(f"Marco recebeu {figurinhas_marco} figurinhas")

Digite o total de figurinhas: 100
Digite o número de amigos: 5
Marco recebeu 28 figurinhas

In [13]:
numero_de_alunos = int(input("Digite a quantidade de alunos: "))
numero_de_monitores = int(input("Digite a quantidade de monitores: "))
resposta_positiva = "pode ir"
resposta_negativa = "não pode ir"

if numero_de_alunos + numero_de_monitores <= 50:
 print(resposta_positiva)
else:
 print(resposta_negativa)

Digite a quantidade de alunos: 10
Digite a quantidade de monitores: 2
pode ir

In [3]:
# Entrada = número inteiro (2)
# Saída = 2 x 1 = 2

def calcula_tabuada (numero):
 for valor in range(1,11):
  print(f"{numero} x {valor}={numero * valor}")

calcula_tabuada(23)

23 x 1=23
23 x 2=46
23 x 3=69
23 x 4=92
23 x 5=115
23 x 6=138
23 x 7=161
23 x 8=184
23 x 9=207
23 x 10=230